<!DOCTYPE html>
<html>
<head>
	<title>A Walk Back In Time</title>
	<link rel="stylesheet" href="/stylesheet.css">
</head>

<body>

	<nav>
		<ul>
			<li><a href="#">Timeline</a></li>
			<li><a href="#">Hobbies</a></li>
			<li><a href="#">Projects</a></li>
		</ul>
	</nav>	

<div class="main">
	<%= yield %>
</div>

	<div id="twitter">
		<a href="https://twitter.com/harrisontanh" target="_blank"><img src="http://cdn1.iconfinder.com/data/icons/colorstroked/Twitter.png"/></a>
		
	</div>

</body>	
</html>
