<h1>Timeline</h1>
<h2>Summer 2013</h2>
	<p>Learning webdev at General Assembly's Web Development Immersive program this summer.</p>
		<ol>
			<li>
				<a href="#">First project</a>
			</li>
			<li>
				<a href="#">Second project</a>
			</li>
			<li>
				<a href="#">Third project</a>
			</li>	
		</ol>
<h2>Fall 2010</h2>	
	<p>I found myself in Abu Dhabi as part of NYU Abu Dhabi's inaugural class.</p>