nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav li{
	margin:10px 0 10px 0;
}
	
nav ul li a:link,a:visited{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background:rgba(255,255,255,0.5);
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	border-radius: 15px;
}

nav ul li a:hover,a:active {
	background-color:#086938;
}

body{
	font-family:"Lucida Grande";
    background-image:url(http://www.freecomputerwallpapers.net/wallpapers/suspension_bridge_wallpaper-2560x1600.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:auto;
}

nav{
	float:left;
	margin-left:15px;
	margin-top:10px;
}

.main{
	background:rgba(255,255,255,0.5);
	border-radius: 15px;
	padding:10px 15px 10px 15px;
	float:right;
	position:absolute;
	right:15px;
	top:25px;
	height:350px;
	width:500px;
	/*overflow:scroll;*/
	/*overflow-style:marquee,panner;*/

}

.main div{

}

#twitter {
	position: relative;
	left:50px;
	top:200px;

}

li a{
	list-style:none;	
}